.footer--container {
    width: 100%;
    background: $bkGrey;
    padding: 10%;
    @media(min-width: 768px){
        padding: 2%;
    }
    & .footer--content-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        @include flexbox($dir: column);
        @media(min-width: 768px){
            @include flexbox($dir: row, $just: space-between);
        }
        & .footer--logo--container{
            margin-bottom: 10%;
            @media(min-width: 768px){
                margin-bottom: 0%;
            }
            & .copy--right--container{
                font-size: 10px;
                color: #666;
                padding-top: 5%;
            }
        }

        & .footer--ul {
            color: #666;
            & .footer-li {
                font-size: 13px;
                line-height: 24px;
            }
        }
        & .footer--list--col.two {
            padding-top: 5%;
            @media(min-width: 768px){
                padding-top: 0%;
            }
             & .footer--ul {
                color: #666;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                @media(min-width: 768px){
                    display: block;
                }
             }
            
        }
    }
}