.media--container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 1%;
    & .border.border-bottom.lower {
        width: 100%;
        @media(max-width: 767px){
            margin-top: 20%;
        }
    }
    & .media--column {
        @include flexbox($dir:column);
        @media(min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            gap: 2%;
        }
        & .radio--container{
            padding-bottom: 15%;
            & .spacer--container {
                padding: 3%;
                @media(min-width: 768px){
                    padding: 6%;
                }
            }
            & .radio--content--wrapper{
                @media(min-width: 768px){
                    padding-bottom: 10%;
                }
                @media(min-width: 768px){
                    height: 100%;
                    display: grid;
                    grid-template-rows: .5fr 1fr;
                    border-top: 1px solid $lineGrey;
                    padding-top: 15%;
                }
                & .radio--layer {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    grid-gap: 10%;
                    @media(min-width: 768px) {
                        margin: 0% 0%;
                    }
                    &.one{
                        padding-bottom: 20%;
                    }
                    &.two {
                        border-top: 1px solid #b3b3b3;
                        @media(min-width: 768px){
                            padding-top: 5%;
                        }
                    }
                    & .radio--content-container {
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 19px;
                        & .radio--content--title {
                            padding-bottom: 15%;
                            color:#464646;
                        }
                        & .time--slot--header {
                            color: $blue
                        }
                    }
                }
            }
        }
        & .border{
            display :none;
        }
        & .video--container{
            & .border{
                display: block;
                @media(min-width: 768px){
                    display: none;
                }
            }
            & .spacer--container{
                padding: 4%;
                @media(min-width: 768px){
                    padding: 2%;
                }
            }
            & .video--wrapper {
                @media(min-width: 768px){
                    & .primary--video--container {
                        border-top: 1px solid $lineGrey;
                        & .primary--wrapper {
                            padding-top: 3.7%;
                        }
                    }
                } 
            }
        }
        & .secondary--video--container {
            & .spacer--container {
                padding: 3%;
                border-top: 1px solid $lineGrey;
                @media(min-width: 768px){
                    padding: 6%;
                    border: none;
                }
            }
            & .secondary--wrapper {
                display: grid;
                gap: 7%;
                flex: 1;
                @media(min-width: 768px){
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    gap: 10%;
                    padding-top: 15%;
                    border-top: 1px solid $lineGrey;
                } 
            }
            & .filler--container{
                visibility: hidden;
                & h1 {
                    @media(max-width: 768px){
                        font-size: 4px;
                        line-height: 15px;
                    }   
                }
            }
            & .video-container {
                & .sub-video-title {
                    padding-top: 5%;
                    @media(min-width:768px) {
                        padding-top: 2%;
                    }
                    & .sub--title--container{
                        color: #464646;
                        font-size: 14px;
                        line-height: 19px;
                        font-weight: 700;
                    }
                }
                &.one {
                    border-bottom: 1px solid #b3b3b3;
                    padding-bottom: 7%;
                }
            }
        }
        & .prim--video--title{
            color: #464646;
            font-size: 16px;
            font-weight: 700;
            padding-top: 3%;
            @media(min-width: 768px){
                text-align: center;
            }
        }
    }
}
 