.main {
    @include flexbox($dir: column, $align-items: center);
    max-width: 1300px;
    margin: 0 auto;
}

.date-container {
    width: 100%;
    height: 100%;
    margin-top: 79px;
    padding: 5%;
    background: $liGrey;
    border-top: 1px solid $dGrey;
    border-bottom: 1px solid $dGrey;
    @media(min-width: 769px) {
        display: none;
    }
    & .date-wrap p {
        text-align: center;
    }
}


.border {
    @include borderline;
    margin: 30px 0;
}

.container--title {
    font-size: 13px;
    padding: 0px 0 10px;
    font-weight: bold;
}

