.main {
    @include flexbox($dir: column, $align-items: center);
    max-width: 1300px;
    margin: 0 auto;
}

.headline {
    // position: fixed;
    // z-index: 12;
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    @media(max-width: 768px) {
        position: relative;
    }
}
.header-container { 
    position:relative;
    &.container {
        max-width: 1300px;
        margin: 0 auto;

    &:before {
        display: table;
        content: '';
    }
    }
   & .header-icon {
       & .icon-wrap {
           position: absolute;
           top: 0%;
           @media(min-width: 769px) {
               top: -28%;
           }
           & .menuIcon {
               width: 27.17px;
               position: absolute;
               background-color: $black;
               height: 1.5px;
               color: $white;
               cursor: pointer;
               &:nth-child(3) {
                   margin-top: .4rem;
                }
                &:nth-child(2) {
                    margin-top: .75rem;
                }
            }
        }
    }
    & .border {
        height: 2px;
        line-height: 2px;
        background: top center repeat-x;
        margin-bottom: 48px;
        &.border-top {
            @media(max-width: 768px){
                display: none;
            }
        }
        &.border-bottom-2 {
            @media(max-width: 768px){
                display: none;
            }
        }
        &.border-bottom-1{
            @media(max-width: 768px){
                visibility: hidden;
                margin-top: 104px;
            }
            margin-bottom: 3px;

        }
        &.border-left {
            background-position: left center;
        }
        &.border-right {
            background-position: right center;
        }
        &.border-no-margin {
            margin: 0;
        }
    }
    & .logo-wrap .logo-img {
        @include flexbox($dir:column, $align-items:center);
        position: absolute;
        margin: 0 0 0 50%;
        left: -105px;
        top: -30px;
        width: 208px;
        height: 208px;
        text-align: center;
        border-radius: 208px;
        border: 2px solid $white;
        background: $white;
        @media (max-width: 768px) {
            width: 201px;
            height: 200px;
            background: $white;
            text-align: center;
            border-radius: 200px;
            border: 2px solid $white;
        }
    }
    & .nav-container {
        margin: 36px 0;
        @media(max-width: 768px) {
            margin: 48px 0;
            display: none;
        }
        & .nav {
            position: relative;
            font: 22px serif;
            // margin-left: 50px;
            letter-spacing: 2px;
            @media(max-width: 1000px ){
                font: 20px serif;
                letter-spacing: 1px;
            }
            @media(max-width: 920px ){
                font: 18px serif;
                letter-spacing: 0;
            }

            @media(max-width:768px ){
                margin-top: 100px;
                margin-left: 0;
            }

            & .list-ul {
                @include flexbox($dir: column, $just: space-between);
                margin: 0;
                padding: 0;
                @media(min-width: 769px) {
                    @include flexbox($dir: row);
                }
                & .listItem {
                    padding: 8px 0;
                    text-align: center;
                    &:nth-child(1) {
                        margin-right: -2%;
                    }
                    &:nth-child(5) {
                        margin-left: 24%;
                    }
                    @media(min-width: 768px){
                        margin: 0;
                        padding: 0;
                        display: inline-block;
                    }
                    @media(max-width: 768px){
                        &:nth-child(1) {
                            display: none;
                        }
                        &:nth-child(5) {
                            display: none;
                        }
                    }
                }
            }
        }
    } 
}

.date-container {
    width: 100%;
    height: 100%;
    margin-top: 79px;
    padding: 5%;
    background: $liGrey;
    border-top: 1px solid $dGrey;
    border-bottom: 1px solid $dGrey;
    @media(min-width: 769px) {
        display: none;
    }
    & .date-wrap p {
        text-align: center;
    }
}

.lead-story {
    @include flexbox($dir:column);
    @media(min-width: 769px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
        padding: 10% 0 0;
    } 
    & .lead-content {
        padding: 25px 0;
        flex: 1;
        @media(min-width: 769px) {
            padding: 5px 0 25px 0;
        }
    }
    & .title-item {
        font-size: 1.625rem;
        line-height: 1.75rem;
        margin-top: -3px;
        font-weight: 700;
        letter-spacing: 0.1px;
        margin-bottom: 12px;
    }
    & .lead-text {
        padding: 5%; 
        font-size: 1rem;
        line-height: 1.375rem;
        font-style: normal;
        letter-spacing: 0.1px;
        color: #555;
        position: relative;
        & li {
            margin-top: 6px;
            position: relative;
            font-size: 1rem;
            line-height: 1.375rem;
            &:first-child {
                margin-top: 0;
            }

        }
        & li::before{
            width: 3px;
            height: 3px;
            border-radius: 50%;
            left: -8px;
            top: 7px;
            content: '';
            display: block;
            background: #666;
            position: absolute;  
        }
    }
    & .lead-img {
        flex: 1;
    }
}

.border {
    @include borderline;
    margin: 30px 0;
}

.container--title {
    font-size: 13px;
    padding: 0px 0 10px;
    font-weight: bold;
}

