
h1 {
    font-size: 38px;
    line-height: 38px;
    // margin: 20px 20px 40px;
    font-weight: bold;
    // padding-top: 10px;
    // border-top: 8px solid #fff;
    color:#464646;
    @media(min-width: 500px){
        // margin: 20px 40px .83em;
    }
    @media(min-width: 1240px){
        // margin: 20px;
        font-size: 50px;
        line-height: 42px;
    }
    @media(min-width: 1240px){
        // margin: 40px 0;
        // padding: 0;
        width: 100%;
        border-top: none;
        font-size: 56px;
        text-align: left;
    }
}
.news--section--container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 1%; 
    & .story--container {
        padding: 25px 0;
    }
    & .story--wrapper {
        @media(min-width: 768px) {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            gap: 4%;
        }
    }
    & .border-bottom {
        margin: 0;
    }
    & .border {
        width: 100%;
    } 

    & .main--column {
        & .main--title--container {
            padding: 5% 0 0;
            @media(min-width: 768px){
                padding: 5% 0;
            }
            & .main--title {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 4%;
                font-weight: bold;
                color:#464646;
                text-transform: capitalize;
                @media(min-width: 1240px){
                    padding: 0;
                    width: 100%;
                    border-top: none;
                    font-size: 40px;
                    line-height: 47px;
                    text-align: left;
                }
            }
            & .writer-container {
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                color: $blue;
            }
        }
    }
    & .secondary--column {
        padding: 25px 0;
        @media(min-width: 768px) {
            padding: 0;
        }
        & .secondary--sub--container {
            padding: 8% 5%;
            border-top: 1px solid $lineGrey;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10%;
            & .sub--content--container {
                @include flexbox($dir: column, $just: space-around);
                & .sub--content--title h4 {
                    margin: 0;
                    font-family: TIActuBeta-ExBold_web,Tahoma,sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    line-height: 1.1;
                    color: #464646;
                    position: relative;
                    z-index: 1;
                    @media(min-width: 500px){
                        font-size: 20px;
                        line-height: 22px;
                    }
                    & .title{
                        margin: 0 0 10px;
                        font-size: 18px;
                        line-height: 1.1;
                    }
                }
                & .writer-container{
                    font-family: TIActuBetaMono-Regular_web,Consolas,Andale Mono,monospace;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    & .sub--author{
                        color:$blue;
                    }
                }
            }
        }
    }
}
